<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css" integrity="sha512-f73UKwzP1Oia45eqHpHwzJtFLpvULbhVpEJfaWczo/ZCV5NWSnK4vLDnjTaMps28ocZ05RbI83k2RlQH92zy7A==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>vue-todolist</title>
  </head>
  <body>

    <div id="root">

      <input v-model="todo" @keyup.enter="addTodo" type="text" name="" value="" placeholder="Nuova attività">

      <button @click="addTodo" type="button" name="button">Aggiungi</button>

      <ul>
        <li v-for="(task, index) in taskList">
          {{ task }}<i class="fas fa-check" @click="removeTodo(task)"></i>
        </li>
      </ul>

    </div>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
